#about{
    width: 100%;
    background-color: var(--color-quinary);
    height: auto;
    display: flex;
    align-items: center;
    padding: 6rem 5rem;
    justify-content: space-between;
}
.title{
    flex: 1;
    padding: 3rem;
}
.title h2{
    font-size:2rem;
}
.description{
    flex:2;
    padding: 3rem;
}