#modal-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;

    .overlay {
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.3);
        z-index: 10;
        position: fixed;
        top: 0;
        left: 0;
    }

    .modal {
        width: 70%;
        z-index: 1000;
        max-width: 1300px;
        min-width: 250px;
        height: 600px;
        min-height: 200px;
        background-color: white;
        border-radius: 10px;
        position: relative;
        padding: 2.5rem 1rem;
        display: flex;
        justify-content: center;
        align-items: center;

        .overlay-close {
            font-size: 22px;
            cursor: pointer;
            color: black;
            position: absolute;
            top: 10px;
            right: 10px;
        }

        .modal-content {
            overflow: auto;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .modal-error,
            .modal-info {
                text-align: center;
            }
        }
    }
}