#footer {
    width: 100%;

    .rights {
        padding: 1rem;
        color: var(--color-white);
        background-color: var(--color-black);
        text-align: center;
    }
}

@media screen and (max-width:780px) {
    #footer {
        font-size: 0.8rem;
    }
}