#home{
    width: 100%;
    padding:2rem;
    display: flex;
    align-items: center;
}
.left-container{
    flex: 1;
    padding: 0 5rem;
}
.left-container h2{
    font-size: 3rem;
}
.left-container p{
    padding:2rem 3rem 2rem 0;
    font-size: 1.2rem;
    max-width: 70%;
}
.btn-info{
    padding: 0.5rem 1rem;
    background-color: var(--color-black);
    border-radius:3px;
    border: 1px solid var(--color-black);
    font-weight: 600;
    font-size: 1rem;
    color: var(--color-white);
  }
.btn-info:hover{
    color: var(--color-black);
    background-color: var(--color-quinary);
    transition: 0.5s ease;
    cursor: pointer;
  }

  .benefits{
    padding: 3rem 0;
  }

  .benefit{
    font-size:0.8rem;
  }
  .benefit img{
    display: inline;
    width: 40px;
  }

  .right-container{
    flex: 1;
}
.right-container img{
    width: 90%;
    border-radius: 15px;
}