@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-primary: #10451d;
  --color-secondary: #155d27;
  --color-tertiary: #1a7431;
  --color-quaternary: #208b3a;
  --color-quinary: #25a244;
  --color-senary: #2dc653;
  --color-septenary: #4ad66d;
  --color-octonary: #6ede8a;
  --color-nonary: #92e6a7;
  --color-denary: #b7efc5;
  --full-size: calc(100vh - 350px)
}

*,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}

a {
  color: unset;
  text-decoration: none;
}

.btn-primary {
  padding: 0.7rem 1rem;
  background-color: var(--color-black);
  border-radius: 3px;
  border: 2px solid var(--color-black);
  font-weight: 600;
  font-size: 1rem;
  color: var(--color-white);

  &:hover {
    border: 2px solid var(--color-quinary);
    color: #000;
    background-color: white;
    transition: background-color 0.2s ease;
    cursor: pointer;
  }

}


.scrollbar {
  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #ccc;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #888;
  }
}