#information {
    width: 100%;
    background-color: var(--color-quinary);
    height: auto;
    padding: 4rem 6rem;
    display: flex;
    flex-wrap: wrap;

    .contact-info {
        flex: 2;

        h2 {
            font-size: 1.2rem;
            font-weight: 600;
        }

        .container {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;

            div {
                margin: 0 3rem 1rem 0;
            }
        }
    }

    .other-links,
    .social-networks {
        flex: 1;
        margin-bottom: 1rem;

        h2 {
            font-size: 1.2rem;
            font-weight: 600;
        }

        div {
            display: flex;
            flex-direction: column;
        }
    }
}

@media screen and (max-width:780px) {
    #information {
        flex-direction: column;
        padding: 3rem;

        .contact-info {

            .container {
                align-items: flex-start;
                flex-direction: column;
            }
        }
    }
}